@charset "UTF-8";





:root {
  --background-start-rgb:214, 219, 220;
  --background-end-rgb:255, 255, 255;
  --foreground-rgb:0, 0, 0;
  --page-rgb:255, 255, 255;
}

body {
  color:rgb(var(--foreground-rgb));
  background:linear-gradient(
    to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb))
  );
}

.text-balance {
  text-wrap:balance;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb:29, 38, 27;
    --background-end-rgb:0, 10, 3;
    --foreground-rgb:255, 255, 255;
    --page-rgb:5, 5, 5;
  }
}